[data-aos] {
    @for $i from 1 through 60 {
      body[data-aos-delay='#{$i * 50}'] &,
      &[data-aos][data-aos-delay='#{$i * 50}'] {
        animation-delay: #{$i * 50}ms;
  
        &.aos-animate {
          animation-delay: #{$i * 50}ms;
        }
      }
    }
  }
  html:not(.no-js) [data-aos^="zoom"][data-aos^="zoom"] {
    opacity: 0;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform;
  }