/* Atomos */
input, select, textarea{
    @apply block !rounded-[10px] !border-gray-100 w-full;
    &:focus{
        --tw-ring-color: #C6C3C3 !important;
    }
    &[type="checkbox"]{
        @apply mr-2 !rounded-[2px] text-primary;
    }
}
label{
    @apply text-[0.875rem] ml-5;
}
label[for="policy"]{
  @apply ml-0;
  a{
    @apply underline;
  }
}
input[type="file"]{
  @apply mt-1;
  &::file-selector-button {
      @apply bg-primary;
  }
}

/* animaciones */

/* Custom keyframes for ghost-like levitation effect */
/* Custom keyframes for levitation effect */
@keyframes levitate {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  /* Custom classes for levitation effect */
  .levitation {
    @apply transition-transform duration-300 ease-in-out transform;
    animation: levitate 2s ease-in-out infinite;
  }
